.venv/
venv/
env/
.env/
__pycache__/
*.pyc   
.DS_Store
**/.ipynb_checkpoints/
.ipynb_checkpoints 
*-checkpoint.py 
data/*
../data/ 
!data/.gitkeep 
.DS_Store 
mHMM/notebooks/.../data/results/SSE/sse_run_20251115_224738.log
mHMM/notebooks/.../data/results/SSE/sse_run_20251115_223930.log
data/results/SSE/sse_run_20251115_225826.log
